.calendarRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendarTable {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Tahoma;
    font-size: 20px;
    border-width: 2px;
}

    .calendarTable td {
        border-style: solid;
        border-width: 0px;
        overflow: hidden;
        padding: 1px 2px;
        word-break: normal;
        text-align: left;
        vertical-align: central;
    }

    .calendarTable th {
        border-style: solid;
        border-width: 1px;
        font-weight: normal;
        padding: 1px 15px;
        word-break: normal;
        background-color: black;
        border-color: black;
        border-width: 3px;
        color: orange;
        vertical-align: central;
        text-align: center;
    }

    .calendarTable .header {
        background-color: white;
        color: black;
        font-weight: bold;
        border-width: 3px;
        border-color: black;
        border-bottom-width: 3px;
        text-align: center
    }

    .calendarTable .headerWithoutBottom {
        background-color: white;
        color: black;
        font-weight: bold;
        border-right-width: 3px;
        border-top-width: 3px;
        border-left-width: 3px;
        border-color: black;
        border-bottom-width: 0px;
        text-align: center
    }

    .calendarTable .headerWithoutTop {
        background-color: white;
        color: black;
        font-weight: bold;
        border-right-width: 3px;
        border-bottom-width: 3px;
        border-left-width: 3px;
        border-color: black;
        border-top-width: 0px;
        text-align: center
    }

    .calendarTable .bottomBorder {
        border-bottom-color: black;
        border-bottom-width: 3px;
    }

    .calendarTable .rightBottomBorder {
        border-right-color: black;
        border-bottom-color: black;
        border-right-width: 3px;
        border-bottom-width: 3px;
    }

    .calendarTable .rightBorder {
        border-right-width: 3px;
        border-right-color: black;
    }

.legendHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.legendRow {
    display: flex;
    flex-direction: row;
    border: 5px solid white;
}

.square {
    width: 16px;
    height: 16px;
    border: 2px solid white;
}

.squareWithBorder {
    width: 16px;
    height: 16px;
    border: 2px solid black;
}

.legendText {
    font-family: Tahoma;
    font-size: 15px;
}
