.calendarRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modalTitle {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:0.45vw;
}

.calendarTable {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Calibri;
    font-size: large;
}

    .calendarTable td {
        border-style: solid;
        border-width: 0px;
        overflow: hidden;
        padding: 0.2vw 1.2vw;
        word-break: normal;
        text-align: left;
        vertical-align: top;
    }

    .calendarTable pre {
        font-family: Tahoma;
        font-size: larger;
        margin: 0;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        text-align:right
    }
    .calendarTable preHeader {
        font-family: Tahoma;
        font-size: larger;
        margin-right: 2vw;
        margin-left: 1vw;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .calendarTable th {
        border-style: solid;
        font-weight: normal;
        padding: 0.2vw 0.4vw;
        word-break: normal;
        background-color: black;
        border-color: black;
        border-width: medium;
        color: orange;
        vertical-align: central;
        text-align: center;
    }

    .calendarTable .header {
        background-color: white;
        color: black;
        font-weight: bold;
        border-width: medium;
        border-color: black;
        text-align: center;
    }

    .calendarTable .headerWithoutBottom {
        background-color: white;
        color: black;
        font-weight: bold;
        border-right-width: medium;
        border-top-width: medium;
        border-left-width: medium;
        border-color: black;
        border-bottom-width: 0vh;
        text-align: center
    }

    .calendarTable .headerWithoutTop {
        background-color: white;
        color: black;
        font-weight: bold;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
        border-color: black;
        border-top-width: 0vh;
        text-align: center
    }

    .calendarTable .bottomBorder {
        border-bottom-color: black;
        border-bottom-width: medium;
    }

    .calendarTable .rightBottomBorder {
        border-right-color: black;
        border-bottom-color: black;
        border-right-width: medium;
        border-bottom-width: medium;
    }
    .calendarTable .rightTopBorder {
        border-right-color: black;
        border-top-color: black;
        border-right-width: medium;
        border-top-width: medium;
    }
    .calendarTable .rightBorder {
        border-right-width: medium;
        border-right-color: black;
    }
    .calendarTable .weekNumber {
        text-align: center;
    }
    .calendarTable .whiteLetter {
        color:white;
    }


.legendHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.legendRow {
    display: flex;
    flex-direction: row;
}

.square {
    width: 2.8vh;
    height: 2.8vh;
    border: 0.1vh solid white;
}

.squareWithBorder {
    width: 2.8vh;
    height: 2.8vh;
    border: 0.3vh solid black;
}
.legendHeader pre {
    max-width: 25vw;
    white-space: pre-wrap; 
}
.legendText {
    font-family: Tahoma;
    font-size: large;
    padding: 0.1vh 1vh;
}
